*{
    color:pink;
    margin:10px;
    font:20px Papyrus;
    background-color:blue;
}

p{
    color:blueviolet;
}

button.subpage{
    color:black;
}


.box{
    display:flex;

}

.box div{
    border:solid 1px rgb(207, 145, 145);
}

.grid-contrainer{
    display:grid;
    grid-template-rows:100px 100px;
    grid-template-columns:100px 100px 100px;
    grid-gap:1px;
}
.grid-item1{
    background:lightgrey;
    border:solid 1px black;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
}
.grid-item2{
    background:lightgrey;
    border:solid 1px rgb(255, 243, 73);
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:3;
}
.grid-item3{
    background:lightgrey;
    border:solid 1px black;
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:3;
}